@layer components {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 0.3rem 0.6rem;
    border: 1px solid #8e8e8e;
    border-radius: 6px;
    margin-bottom: 8px;
    width: 100%;
  }
  label {
    display: block;
    margin-bottom: 2px;
    @apply bebas-neue;
    color: var(--gray);
  }
}
